{% extends 'base.html.twig' %}

{% block title %}New Detentionvoiture{% endblock %}

{% block body %}
    <h1>Create new Detentionvoiture</h1>

    {{ include('detentionvoiture/_form.html.twig') }}

    <a href="{{ path('app_detentionvoiture_index') }}"class="btn btn-block btn-dark btn-sm"><i class="fas fa-arrow-left mr-2"></i>back to list</a>
{% endblock %}
