<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <thead>
        <tr>
            <th>Id</th>
            <th>Matricule</th>
            <th>Date d'entrée</th>
            <th>Matricule chauffeur</th>
            <th>Direction</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>{{ voitures.id }}</td>
                <td>{{ voitures.matriculechauffeur.nom }}</td>
                
               
            </tr>    
        
    </tbody>    
</body>
</html>